.span-btn{
	padding: 12px 10px;
	width: 125%;
	background: #f22522;
	border: 2px solid #555;
	border-radius: 35px;

	user-select: none;
	cursor: pointer;

	text-align: center;
	position: relative;
	left:50%;
	transform: translate(-50%);

	font-family: fantasy;
	font-size: 40px;
	color: yellow;

}
.span-btn2{
	color: #FFF804;
	font-size: 20px;
	cursor: default;
}

.span-btn:hover{
	transition: 0.25s;
	background: yellow;
	color: red;
	width: 125%;
	border-radius: 35px;
}

.ultra-secreto
{
	width: 90%;
}

.desconto{
	padding: 0px 0px;
	font-size: 30px;
	text-decoration: line-through;
	color: #f22522;
}
.desconto2{
	padding: 0px 0px;
	font-size: 25px;
}
.desconto3{
	padding: 0px 0px;
	font-size: 35px;
	color: #f7e700;
}
.Imediato{
	width: 100%;
	position: relative;
}

.a-btn{
	position: relative;
}

.textoVSL
{
	padding: 20px 0px;
	font-family: Comic Sans MS;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	width: 125%;
	color: white;
	position: relative;
	right: 10%;
}

.textoHeadline2{
	font-size: 30px;
	padding: 15px 0px;
}

body{
	font-family: FreeMono;
	position: relative;
	text-align: center;
}

footer
{
	padding: 2px;
	background-color: black;
}

.comments
{
	padding-top: -20px;
	padding-bottom: 0;
	background-color: white;
} 

.fb-comments
{
	border: 1px solid #e9ebee;
	border-radius: 3px;
	padding-bottom: 15px;
	margin: none;
	position: relative;
	color: black;
	background-color: white;
	font-family: arial;
	text-align: left;
}

.fb-comments-header
{
	padding: 15px 0;
	border-bottom: 1px solid #e9ebee;
	text-align: left;
}

.fb-comments-header span
{
	color: #000;
	font-weight: 700;
	font-size: .9em;
}

.fb-comments-comment
{
	border: none;
	padding: 0;
	margin: 10px 10px;
	width: 97%;
}

tr,td
{
	border: none;
	margin: 0
}

td
{
	padding: 2.5px
}
tr
{
	padding: 2.5px 0
}

.fb-comments-comment-img
{
	vertical-align: top;
	width: 48px;
	padding-right: 5px
}

.fb-comments-comment-img img{
	max-width: 48px;
	border-radius: 25px
}

.fb-comments-comment-name
{
	font-size: .85em;
}
.fb-comments-comment-name name{
	color: #365899;
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
	cursor: hand
}
.fb-comments-comment-name name:hover
{
	text-decoration: underline;

}

.fb-comments-comment-name occupation
{
	color: #90949c
}

.fb-comments-comment-text
{
	font-size: .9em;
	color: #000;
	border-radius: 22px;
	background-color: rgba(223, 225, 229, 0.8);
	padding: 10px 25px;
}

.fb-comments-comment-actions like,

.fb-comments-comment-actions reply
{
	font-size: .75em;
	color: #4267b2;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
}

.fb-comments-comment-actions like.liked
{
	color: #90949c;
}

.fb-comments-comment-actions like:hover,

.fb-comments-comment-actions reply:hover
{
	text-decoration: underline;
}

.fb-comments-comment-actions likes
{
	font-size:13px;
	background:url(https://hostly.netlify.app/likes.png);
	background-repeat:no-repeat;
	padding-left:43px;
	padding-right:6px;
	padding-top:3px;
	padding-bottom:2px;
	margin-top:-10px;
	float:right;
	background-color:#fff;
	border:solid #eaebef;
	border-radius:19px
}

.fb-comments-comment-actions date
{
	font-size:.75em;
	color:#90949c;
	text-decoration:none;
	cursor:pointer;
	cursor:hand
}
.fb-comments-comment-actions date:hover
{
	text-decoration:underline
}
.fb-comments-loadmore
{
	background:#4080ff;
	border:1px solid #4080ff;
	border-radius:3px;
	box-sizing:border-box;
	color:#fff;font-size:14px;
	padding:.875em;
	text-shadow:none;
	width:95%;
	font-weight:700;
	cursor:hand;
	cursor:pointer;
	position: relative;
	left: 2.5%;
}

.bbtn
{
	width:100%;
	max-width:449px
}

@media (max-width: 768px){

	.span-btn{
		padding: 12px 10px;
		width: 100%;
		background: #f22522;
		border: 2px solid #555;
		border-radius: 35px;
		user-select: none;
		cursor: pointer;
		text-align: center;
		position: relative;
		left:50%;
		transform: translate(-50%);
		font-family: fantasy;
		font-size: 25px;
		color: yellow;
	}

	.span-btn2{
		color: #FFF804;
		font-size: 15px;
	}

	.span-btn:hover{
		transition: 0.25s;
		background: yellow;
		color: red;
		width: 100%;
		border-radius: 35px;
	}

	.a-btn{
		position: relative;
	}

		.ultra-secreto
	{
		width: 100%;
	}

	.textoVSL
	{
		padding: 15px 0px;
		font-family: Comic Sans MS;
		font-size: 16px;
		font-weight: lighter;
		text-align: center;
		width: 100%;
		color: white;
		position: relative;
		right: 0%;
	}
	.textoHeadline1{
		font-size: 30px;
		width: 100%;
		font-weight: bolder;
		position: relative;
		left: 0%;
		color: yellow;
		font-family: Comic Sans MS;
		padding: 25px 0px;
	}
	.textoHeadline2{
		width: 100%;
		font-size: 20px;
		padding: 15px 0px;
	}

	body{
		font-family: FreeMono;
	}

	body footer{
		text-align: center;
		text-anchor: bottom;
	}

	.desconto{
		padding: 0px 0px;
		font-size: 25px;
		text-decoration: line-through;
		color: red;
	}
	.desconto2{
		padding: 0px 0px;
		font-size: 20px;
	}
	.desconto3{
		padding: 0px 0px;
		font-size: 30px;
		color: yellow;
	}
	.Imediato{
	width: 100%;
	position: relative;
	padding: 12px 0px;
	}

	.fb-comments-comment
	{
		border: none;
		padding: 0;
		margin: 25px 0;
		width: 93%;
	}
}